{% extends 'core/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Log In</h1>
        <form action="." method="POST" class="space-y-2">
        {% csrf_token %}

            <div class="">
                <label>Username:</label>
                <input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">    
            </div>

            <div class="">
                <label>Password:</label>
                <input type="password" name="password"  class="w-full mt-2 py-4 px-6 bg-white rounded-xl">    
            </div>

            {% if form.errors %}
                {% for field in form.errors %}
                    {% for error in field.errors %}
                        <div class="px-6 py-4 bg-red-200 text-red-800 rounded-xl">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="px-6 py-4 bg-red-200 text-red-800 rounded-xl">
                        <p>{{ error|escape }}</p>
                    </div>                        
                {% endfor %}
            {% endif %}

            <div>
                <button class="px-6 py-4 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Login</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}